@font-face {
    font-family: "Sporting_Grotesque";
    src: url("Sporting_Grotesque-Regular_web.woff2") format("woff2"),
        url("Sporting_Grotesque-Regular_web.woff") format("woff");
}


body {
    font-family: "Sporting_Grotesque", sans-serif;
    opacity: 1;
    background-image: radial-gradient(#ff1d93 0.75px, #ffc2f5 0.75px);
    background-size: 15px 15px;
    display: grid;
    grid-template-columns: repeat(1,200px);
    margin-bottom: 8px;
    margin-right: 8px;
    justify-content: center;
    grid-column: 1/4
}
.grid {
    display: grid;
    grid-template-columns: repeat(1,200px);
    grid-template-rows: 1/3;
    margin: 8px;
    gap: 8px;
}
soustitre{
    grid-column: 1/4
    
}

.child {
    grid-column-start: 3/4;
    text-align: right;
    display: grid
}

@media(min-width: 640px){
    body{
        grid-template-columns: repeat(3,200px);

    }
}

h1 {
    padding: 2%;
    grid-column: 1/3;
}

.title {
    position: sticky;
}

.graphisme-typo,
.photo-multi {
    grid-column: 1/3;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 2%;
    grid-column: 1/2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    grid-column-gap: 8px
}

.imgspe {
    max-width: 100%;
    height: auto;
    grid-column: 1/4;
    margin: 8px;
    margin-right: 8px;
}

.imgspezoom {
    grid-column: 1/3;
}

.specimenimg {
    grid-column: 1/4;
    text-align: center;
}

.descsep {
    grid-column: 1/4;
    text-align: center;
    font-size: 16px;
}
.compo-abstraite{
    max-width: 100%;
    height: auto;
    grid-column: 1/3;
    margin: 8px;
    margin-right: 8px;
}
.compo-abstraite{
    display: block;
    max-width: 100%;
    height: auto;
}
.photo-paysage{
    display: grid;
    max-width: 100%;
    height: auto;
    grid-column: 1/3;
    margin: 8px;
    margin-right: 8px;
}
.photo-concepts{
    display: grid;
    max-width: 100%;
    height: auto;
    grid-column: 1/3;
    margin: 8px;
    margin-right: 8px;
}
.video{
    /*video in repeat*/
    display: grid;
    max-width: 100%;
    height: auto;
    grid-column: 1/3;
}
a{
    filter: grayscale(0.5px);
}
a:hover{
    filter: none;
}
video{
}