@font-face{
    font-family: "Sporting_Grotesque";
 src: url("Sporting_Grotesque-Regular_web.woff2") format("woff2"),
        url("Sporting_Grotesque-Regular_web.woff") format("woff");
}
body{
    font-family: "Sporting_Grotesque",sans-serif;
    background: rgb(250, 213, 219);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    @media (min-width : 640px)
}
h1{
    background: pink;
    padding: 2%;
    grid-column: 1/4;
}
h2{
    grid-column: 1/4;
}