@font-face {
    font-family: "Sporting_Grotesque";
    src: url("Sporting_Grotesque-Regular_web.woff2") format("woff2"),
        url("Sporting_Grotesque-Regular_web.woff") format("woff");
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1/2;
}

.child {
    grid-column-start: 2/3;
    text-align: right;
    display: grid
}

body {
    font-family: "Sporting_Grotesque", sans-serif;
    background: rgb(255, 223, 229);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0%;
}

h1 {
    padding: 2%;
    grid-column: 1/2;
}

.title {
    position: sticky;
}

.graphisme-typo,
.photo-multi {
    grid-column: 1/3;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 2%;
    grid-column: 1/2;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    grid-column-gap: 8px
}

.imgspe {
    max-width: 100%;
    height: auto;
    grid-column: 1/3;
    margin: 8px;
    margin-right: 8px;
}

.imgspezoom {
    grid-column: 1/3;
}

.specimenimg {
    grid-column: 1/3;
    text-align: center;
}

.descsep {
    grid-column: 1/3;
    text-align: center;
    font-size: 16px;
}
.compo-abstraite{
    max-width: 100%;
    height: auto;
    grid-column: 1/3;
    margin: 8px;
    margin-right: 8px;
}
.compo-abstraite{
    display: block;
    max-width: 100%;
    height: auto;
}
