@font-face{
    font-family: "Sporting_Grotesque";
 src: url("Sporting_Grotesque-Regular_web.woff2") format("woff2"),
        url("Sporting_Grotesque-Regular_web.woff") format("woff");
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr ;
}
.child{
    grid-column-start: 2fr ;
    grid-row-start: 2fr ;
}
body{
    font-family: "Sporting_Grotesque",sans-serif;
    background: rgb(250, 213, 219);
    display: grid;
    grid-template-columns: ;
    margin: 0%;
}
h1{
    background: pink;
    padding: 2%;
    grid-column: ;
}
h2{
    align-self: center;
    margin: 2%;
    grid-column: ;
}
.title{
    font-size:clamp(18px, 5vm, 72px);
}