@font-face {
    font-family: "Sporting_Grotesque";
    src: url("Sporting_Grotesque-Regular_web.woff2") format("woff2"),
        url("Sporting_Grotesque-Regular_web.woff") format("woff");
}

body {
    font-family: "Sporting_Grotesque", sans-serif;
    opacity: 1;
    background-image: radial-gradient(#ff1d93 0.75px, #ffc2f5 0.75px);
    background-size: 15px 15px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    margin-bottom: 8px;
    margin-right: 8px;
    grid-column-gap: 8px;
    justify-content: center;

}

a.hori {
    display: grid;
    grid-column: 1/4
}

p.desc {
    display: grid;
    grid-column: 1/4
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: 1/4;
    margin: 8px;
    gap: 8px;
}

soustitre {
    grid-column: 1/4
}

.child {
    grid-column-start: 1/-1;
    text-align: right;
    display: grid
}

h1 {
    padding: 2%;
    grid-column: 1/3;
    color: #ff1d93
}

.graphisme-typo,
.photo-multi {
    grid-column: 1/4;
    text-align: center;
}

h2 {
    text-align: center;
    margin: 2%;
    grid-column: 1/4;
    color: #ff1d93
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.imgspe {
    max-width: 100%;
    height: auto;
    grid-column: 1/4;
    margin: 8px;
    margin-right: 8px;
}

.imgspezoom {
    grid-column: 1/4;
}

.specimenimg {
    grid-column: 1/4;
    text-align: center;
}

.descsep {
    grid-column: 1/4;
    text-align: center;
    font-size: 16px;
}

.compo-abstraite {
    max-width: 100%;
    height: auto;
    grid-column: 1/4;
    margin: 8px;
    margin-right: 8px;
}

.compo-abstraite {
    display: block;
    max-width: 100%;
    height: auto;
}

.photo-paysage {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-column: 1/4;
    margin: 8px;
    margin-right: 8px;
}

.photo-concepts {
    display: grid;
    max-width: 100%;
    height: auto;
    grid-column: 1/4;
    margin: 8px;
    margin-right: 8px;
}

.video {
    /*video in repeat*/
    display: grid;
    max-width: 100%;
    height: auto;
    grid-column: 1/4;
}

.miniaturespe {
    grid-column-end: 1/3;
}

a {
    transition: 0,4s;
    filter: grayscale(1);
}

a:hover{
    filter: none
}